html, body {
    position: relative;
    height: 100%;
  }

body {
    font-family: 'Fira Sans' !important ;
    font-size: 16px;
    font-weight: 500;
}

a:hover {
    text-decoration: none;
}

#mainNav {
    margin-top: 65px;
    margin-bottom: 65px;
}

.botao-duvidas {
    margin-right: 40px; 
}

.botao-duvidas a {
    color:#606060;
    margin-top: 10px;
}

#mainNav .navbar-toggler-icon {
    background-image: url(../img/hambuger.svg);
}

.botao-area {
    color: #6C29ED;
    border:1px solid #6C29ED;
    padding: 15px 20px;
    border-radius: 6px;
}

.enfase1 ,
.section2 h1 ,
.section3 h1,
.privacidade h1
{
    font-size: 3.6rem;
    margin-top: 60px;
    margin-bottom: 20px;
    font-weight: 300;
    color: #30094D;
}

.privacidade h1 {
    color: #6C29ED;
}

.enfase1 {
    margin-bottom: 60px;
}


.enfase1 .cor1 ,
.section2 h1 .cor1 ,
.section3 h1 .cor1
{
    color: #6C29ED;
}

.botao2 {
    background-color: #6C29ED;
    color: #fff;
    padding: 17px 42px;
    border-radius: 6px;
    margin-top: 70px;
    text-align: center;
}

.disponivel {
    margin-top: 80px;
    margin-bottom: 40px;
}

.section1 , .section7{
    color: #fff;
    background:#30094D url(../img/bg1.png) center right no-repeat;
    background-size: auto 100%;
    padding: 80px;
}

.section7 {
    background-image: url(../img/bg-divulgue.png);
}

.section7  .numero-passo {
    color: #6C29ED;
    font-size: 3.5rem;
    margin-top: 60px;
    font-weight: 300;
}


.section7 h1 {
    font-size: 3.6rem;
}

.section7 .passo {
    font-weight: 300;
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 70px;
}

.destaque {
    color: #CAD2FF;
}

.section1 h1 
{
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
}

.section2 ,
.section3,
.section4
{
    position: relative;
    padding: 60px;
}

.section2::before ,
.section3::before ,
.section4::before {
    position: absolute;
    content: '';
    width: 50%;
    right: 0;
    top: 0;
    height: 100%;
    background-image: url(../img/facilUsar.png);
    background-size: cover;
    background-position: center center;
}

.section3 {
    background: #EFF1FF;
}

.section3::before {
    background:url(../img/facilEscolher.png);
    background-position: center left;
    background-size: cover;
    left: 0;
}

.section4 {
    background-color:#6C29ED;
}

.section4::before { 
    background:#6C29ED url(../img/dificilFicar.png);
}

.subtexto {
    color: #606060;
    margin-top: 15px;
    margin-bottom: 40px;
    font-weight: 600;
}

.section4 h1 {
    color: #CAD2FF;
    font-weight: 300;
    font-size: 3.6rem;
    margin-top: 60px;
}
.section4 h1 .cor1 {
    color: #fff;
}

.section4 .subtexto{
    color: #fff;
}

.img-composicao {
    position: relative;
    z-index: 1;
}

.botao3 {
    background-color: #fff;
    color: #6C29ED;
    padding: 17px 42px;
    border-radius: 6px;
    position: relative;
    z-index: 4;
    text-align: center;
}


  .privacidade .wrapper {
      background-color: #F8F9FF;
      padding-top: 70px;
      padding-bottom: 70px;
      margin-top: 50px;
      margin-bottom: 130px;
  }

  .privacidade .wrapper h4 {
      color: #30094D;
      margin-bottom: 25px;
  }

  .privacidade .wrapper p {
      margin-bottom: 30px;
      color: #606060;
  }

  .privacidade .subtitulo {
      color: #30094D;
  }


  .newsletter {
      background-color: #6C29ED;
      padding: 80px;
  }

  .newsletter p {
      color: #fff;
      font-size: 2rem;
      font-weight: 300;
  }

  .inp-newsletter {
      height: 55px;
      border: 0;
  }

  .group-custom {
    margin-top: 24px;
    background-color: #fff;
    border-radius: 6px;
  }

  .input-group-append {
    margin: 1px;
  }

  #basic-addon2 {
      background-color: #6C29ED;
      color: white;
      border:none;
      border-radius: 6px;
      padding: 15px 30px;
  }

  .section8 {
    margin: 90px;
}

  .section8 h1 {
      color: #30094D;
      font-weight: 300;
      font-size: 3.6rem;
  }

  .section8 h1 .destaque {
      color: #6C29ED;
  }

.textfield {
   position: relative;
   padding: 30px 90px 5px 18px;
    border:1px solid #AAAAAA;
    border-radius:6px;
    box-shadow: none;
}

.form-duvida {
    position: relative;
}

.centered ,
.is-floating-label
{
    position: relative;
}

.centered:first-child {
    margin-top: 50px;
}

.centered span {
    position: absolute;
    z-index: 1;
    top: 13px;
    left: 14px;
    color: #AAAAAA; 
    padding: 5px;
}
.textfield:focus ,
.is-floating-label.is-focused textarea.textareafield 
{
    border:1px solid #6C29ED;
    outline: none;
    color:#6C29ED;
}
input:focus ~ span,
input:not(:focus):valid ~ span {
    top:0px;
    color:#30094D;
}
.textfield, span , .textareafield  {
	transition: ease-in-out 0.2s all;
	-webkit-transition: ease-in-out 0.2s all;
	-moz-transition: ease-in-out 0.2s all;
	-o-transition: ease-in-out 0.2s all;
}

.text1 {
    color: #AAAAAA;
    font-weight: 300;
    margin-top: 60px;
}

textarea.textareafield {
    border:1px solid #AAAAAA;
    box-shadow: none;
    outline: 0;
    position: relative;
    padding: 30px 83px 5px 18px;
    border-radius: 6px;
    z-index: 1;
  }

  .is-floating-label {
   
    margin-bottom: 15px;
    
  }
  .is-floating-label input {
    position: absolute;
    left: 0;
    background-color: transparent;
  }
  .is-floating-label label {
    opacity: 0.3;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 0, 0) scale(1);
    transform-origin: left top;
    transition: 100ms;
    z-index: 10;
    left: 16px;
    top: 14px;
  }
  .is-floating-label.is-focused label {
    transform: translateY(-10px);
    color:#30094D;
    opacity: 1;
  }

  .bt-enviar {
      background-color: #6C29ED;
      color: #fff;
      border-radius: 6px;
      padding: 15px 115px 15px 119px;
  }
.footer {
    background-color: #6C29ED;
    font-size: 13px;
    color: #CAD2FF;
    font-weight: 300;
    padding: 50px 0 20px 0;
}

.footer a {
    color: #CAD2FF;
}

.footer .list-social li:first-child {
    margin-right: 35px;
}

.footer .logo-rodape {
    margin-bottom: 110px;
}

.footer .institucional {
    margin-top: 60px;
}

.sq-crousal4 .carousel-indicators li::before {width: 15px;height: 15px;background: #444;border-radius: 50%;	border: solid 2px #AAACAE;
	transition: all 0.3s ease 0s;box-shadow: 6px 6px 8px #E9E0E0 inset;}
	.sq-crousal4 .carousel-indicators li.active::before {background: #1870ed;box-shadow: 2px 3px 2px #e5edf8 inset;border-color: #1870ed;}
	.sq-crousal4 .carousel-indicators {top: -40px;}
	.sq-crousal4 li {width: 10px; height: 10px;}
	.sq-crousal4 .fa-angle-left {font-size: 45px;color: #444;left: -30px;position: relative;top: -17px;}
    .sq-crousal4 .fa-angle-right {font-size: 45px;color: #444;right: -30px;position: relative;top: -17px;}
    
    .sq-crousal4 .carousel-indicators li {
        border-radius: 30px;
        border: 1px solid #6C29ED;
    }


    .sq-crousal4 .carousel-indicators .active {
        background-color: #6C29ED;;
    }
    .sq-crousal4 .carousel-indicators li {
        border-radius: 30px;
    }

    .sq-crousal4 .carousel-indicators {
        left: -80px;
        right: auto;
    }

    .h-30 {
            height: 30%!important;
    }

    .sq-crousal4 img {
        width: 95px;
        height: 95px;
    }

    .feedback-text p {
        margin-bottom: 0px;
    }

    .feedback-text .nome {
        color: #6C29ED;
        margin-bottom: 5px;
        font-weight: 300;
    }

    .feedback-text .cargo {
        color: #606060;
        line-height: 16px;
        font-weight: 300;
        font-size: 13px;
    }

    .sq-crousal4 .testimonial {
        font-size: 2rem;
    }
  

.section6 {
    padding: 90px;
}

@media screen and (max-width: 1600) and (max-width: 2000px) {
    
  }
  
  
  @media screen and (min-width: 1600px) {
  }
  
  
  @media screen and (max-width: 991px) {

  }
  @media screen and (max-width: 768px) {
    .showcase .showcase-text {
        padding: 7rem;
    }

  }
  
  @media screen and (max-width: 500px) {

  }
  
  @media screen and (max-width: 480px) {
    .celular ,
    .disponivel {
        display: none;
    }

    .section1 {
        padding: 55px 27px;
    }

    .section2,
    .section3,
    .section4 {
        padding: 0; 
    }

    .section2::before , .section3::before , .section4::before{

        background-image: none;
    }

    .section2 h1,
    .section3 h1 {
        margin-bottom: 20px;
    }

    .subtexto ,
    .img-composicao {
        margin-left: 25px;
    }

    .botao3 {
        top: 128px;
    }

    .section4 .img-composicao {
        margin-top: -40px;
    }

    .section3 .img-composicao {
        margin-left: -5vw;
    }
  }
  
  
  